/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: "h-md";
  src: url("../fonts/Helvetica-Medium.woff2") format("woff2"), url("../fonts/Helvetica-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "h-r";
  src: url("../fonts/Helvetica-Regular.woff2") format("woff2"), url("../fonts/Helvetica-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "hn-r";
  src: url("../fonts/HelveticaNeue-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "hn-md";
  src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "hn-b";
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'h-md';
  font-size: 16px;
  color: #23372D; }

img {
  max-width: 100%;
  height: auto; }

h1, h2 {
  font-size: 2.5em;
  line-height: 1.25;
  font-family: "hn-b"; }

h3 {
  font-size: 1.625em;
  font-family: "hn-b";
  line-height: normal; }

p {
  font-size: 1em;
  line-height: 1.4375; }

.wrapper {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto; }

@media (max-width: 768px) {
  body {
    font-size: 14px; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0); }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.br-header {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 28px; }

.br-text {
  margin-bottom: 24px; }

.br-promo {
  overflow: hidden; }

[data-aos="appear"] {
  opacity: 0;
  transition-property: transform, opacity; }
  [data-aos="appear"].aos-animate {
    opacity: 1; }

[data-aos="wave"] {
  transform: scaleY(1.2);
  transition-property: transform, opacity; }
  [data-aos="wave"].aos-animate {
    transform: scaleY(1); }

.button {
  text-decoration: none;
  color: inherit;
  font-family: "hn-b";
  display: inline-block;
  border-radius: 100px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  transition: 0.2s ease;
  color: #000000;
  border: 1px solid #000000;
  text-align: center;
  background-color: #ffffff; }
  .button:hover {
    opacity: 0.8; }
  .button:active {
    opacity: 0.6;
    transform: scale(0.98); }
  .button--shadow {
    box-shadow: -4px 4px 0px #436052;
    transform: translate(4px, -4px); }
    .button--shadow:hover {
      transform: translate(0, 0);
      box-shadow: 0px 0px 0px #436052;
      opacity: 1; }
    .button--shadow:active {
      opacity: 0.7;
      transform: scale(0.98); }
  .button--delay-show {
    animation: showButton 2s ease; }

@keyframes showButton {
  0% {
    opacity: 0;
    transform: translate(10px, -10px); }
  50% {
    opacity: 0;
    transform: translate(10px, -10px); }
  100% {
    opacity: 1;
    transform: translate(0 0); } }

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 94px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;
  transition: 0.3s all; }
  .overlay--speaker {
    top: 0;
    background-color: rgba(0, 0, 0, 0.2); }

.overlay.active {
  opacity: 1;
  visibility: visible; }

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 30;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
  overflow-y: auto; }

.modal.active {
  opacity: 1;
  visibility: visible; }

@keyframes modalOpen {
  from {
    transform: translate(-60%, -60%);
    opacity: 0;
    visibility: hidden; }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible; } }

.modal__cross {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer; }
  .modal__cross:hover {
    fill: #436052;
    transform: scale(1.2); }
  .modal__cross:active {
    fill: #19241f;
    transform: scale(0.9); }

.promo1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/raster/home-promo.png"); }
  .promo1__wrapper {
    padding-top: 145px;
    padding-bottom: 140px;
    padding-left: 20px;
    padding-right: 20px; }
    @media (max-width: 768px) {
      .promo1__wrapper {
        padding-top: 120px;
        padding-bottom: 120px; } }
  .promo1__header {
    margin: 0;
    font-size: 70px;
    line-height: 75px;
    max-width: 700px;
    color: #ffffff; }
    @media (max-width: 768px) {
      .promo1__header {
        font-size: 61.5px;
        line-height: 65px;
        max-width: 500px; } }
    @media (max-width: 425px) {
      .promo1__header {
        font-size: 54px;
        line-height: 56px; } }

.banner {
  background-color: #23372D;
  color: #ffffff;
  background-image: url("../img/vector/banner-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  background-repeat: repeat-y;
  padding-top: 110px;
  padding-bottom: 60px; }
  @media (max-width: 768px) {
    .banner {
      background-position: 70% bottom;
      padding-top: 100px; } }
  .banner__header {
    text-transform: none;
    max-width: 620px;
    margin: 0 auto;
    font-size: 35px; }
  .banner__button {
    background-color: transparent;
    border-color: transparent;
    color: #ffffff;
    font-size: 13px;
    padding-top: 11px;
    margin-top: 15px;
    padding-right: 50px;
    position: relative; }
    .banner__button::before {
      display: block;
      content: '';
      position: absolute;
      width: 20px;
      height: 15px;
      top: 50%;
      right: 23px;
      transform: translate(0, -50%);
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../img/vector/arrow-white.svg"); }
    .banner__button:hover {
      background-color: #ffffff;
      border-color: #000000;
      opacity: 1;
      color: #23372D; }
      .banner__button:hover::before {
        filter: invert(1); }
    .banner__button:active {
      opacity: 0.8; }
    @media (max-width: 525px) {
      .banner__button {
        min-width: 130px;
        padding-top: 12px;
        padding-bottom: 9px;
        line-height: 1.5em;
        padding-top: 10px;
        padding-bottom: 8px; } }

.pre-content {
  margin-top: 80px;
  margin-bottom: 85px; }
  .pre-content--work-page {
    margin-bottom: 95px; }
    .pre-content--work-page .pre-content__wrapper {
      max-width: 1090px;
      justify-content: flex-start; }
    .pre-content--work-page .pre-content__header {
      width: calc(54% - 40px); }
      .pre-content--work-page .pre-content__header span {
        padding-right: 20px; }
      @media (max-width: 768px) {
        .pre-content--work-page .pre-content__header {
          width: 90%; } }
      @media (max-width: 450px) {
        .pre-content--work-page .pre-content__header {
          width: 90%; }
          .pre-content--work-page .pre-content__header::before {
            width: 25%;
            right: 0; } }
      @media (max-width: 375px) {
        .pre-content--work-page .pre-content__header {
          width: 100%; }
          .pre-content--work-page .pre-content__header::before {
            width: 15%; } }
      @media (max-width: 320px) {
        .pre-content--work-page .pre-content__header::before {
          width: 12%; } }
    .pre-content--work-page .pre-content__text {
      width: 45%;
      max-width: 440px;
      margin-left: 20px; }
      @media (max-width: 768px) {
        .pre-content--work-page .pre-content__text {
          margin-left: auto;
          width: 80%; } }
      @media (max-width: 425px) {
        .pre-content--work-page .pre-content__text {
          margin-left: auto;
          width: 90%; } }
  .pre-content__wrapper {
    max-width: 980px;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .pre-content__wrapper {
        flex-direction: column; } }
  .pre-content__header {
    width: calc(57% - 40px);
    position: relative;
    margin: 0;
    z-index: 1;
    box-sizing: border-box; }
    @media (max-width: 768px) {
      .pre-content__header {
        width: 80%; } }
    @media (max-width: 425px) {
      .pre-content__header {
        width: 100%; } }
    .pre-content__header span {
      background-color: #fff;
      padding-right: 40px; }
      @media (max-width: 390px) {
        .pre-content__header span {
          padding-right: 20px; } }
    .pre-content__header::before {
      display: block;
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: #23372D;
      top: 28px;
      z-index: -1; }
  .pre-content__text {
    width: 43%;
    max-width: 430px;
    margin: 0;
    margin-top: 16px;
    font-family: 'h-r';
    font-weight: 400; }
    @media (max-width: 768px) {
      .pre-content__text {
        margin-left: auto;
        width: 56%; } }
    @media (max-width: 425px) {
      .pre-content__text {
        margin-left: auto;
        width: 90%; } }

.features {
  margin-bottom: 138px; }
  @media (max-width: 768px) {
    .features {
      margin-bottom: 100px; } }
  .features__block {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 12px; }
    @media (max-width: 768px) {
      .features__block {
        max-width: 500px;
        margin: 0 auto; } }
  .features__item {
    width: 50%;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 72px;
    padding-left: 72px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media (max-width: 992px) {
      .features__item {
        padding-top: 60px;
        padding-bottom: 60px;
        padding-right: 52px;
        padding-left: 52px; } }
    @media (max-width: 768px) {
      .features__item {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 32px;
        padding-left: 32px;
        width: 100%; } }
    @media (max-width: 425px) {
      .features__item {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 30px; } }
    .features__item:nth-child(1) {
      order: 1;
      background-image: url("../img/raster/features-1.png"); }
      @media (max-width: 768px) {
        .features__item:nth-child(1) {
          min-height: 300px; } }
      @media (max-width: 425px) {
        .features__item:nth-child(1) {
          min-height: 220px; } }
    .features__item:nth-child(2) {
      order: 2;
      background-color: #23372D;
      color: #ffffff; }
    .features__item:nth-child(3) {
      order: 4;
      background-image: url("../img/raster/features-2.png"); }
      @media (max-width: 768px) {
        .features__item:nth-child(3) {
          order: 3;
          min-height: 300px; } }
      @media (max-width: 425px) {
        .features__item:nth-child(3) {
          min-height: 220px; } }
    .features__item:nth-child(4) {
      order: 3;
      background-color: #F2FFF2;
      padding-top: 100px;
      padding-bottom: 100px;
      padding-right: 80px;
      padding-left: 80px; }
      @media (max-width: 992px) {
        .features__item:nth-child(4) {
          padding-top: 60px;
          padding-bottom: 60px;
          padding-right: 52px;
          padding-left: 52px; } }
      @media (max-width: 768px) {
        .features__item:nth-child(4) {
          padding-top: 40px;
          padding-bottom: 40px;
          padding-right: 32px;
          padding-left: 32px;
          order: 4; } }
      @media (max-width: 425px) {
        .features__item:nth-child(4) {
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 30px;
          padding-bottom: 30px; } }
    .features__item-header {
      font-size: 1.25em;
      margin-bottom: 10px; }
    .features__item-text {
      font-family: 'h-r';
      font-size: 0.93em;
      line-height: 23px; }
      .features__item-text:last-child {
        margin-bottom: 0; }
    .features__item-button {
      font-size: 14px;
      min-width: 138px;
      padding: 10px 20px 11px;
      padding-bottom: 10px;
      margin-top: 10px; }
      @media (max-width: 525px) {
        .features__item-button {
          min-width: 130px;
          padding-top: 12px;
          padding-bottom: 9px;
          line-height: 1.5em;
          padding-top: 10px;
          padding-bottom: 8px; } }

.promo2 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .promo2--about-page {
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url("../img/vector/about-promo.svg");
    background-size: initial;
    background-position: right bottom;
    background-color: #23372D; }
    .promo2--about-page .promo2__picture {
      margin-left: 165px;
      margin-top: -30px;
      flex-shrink: 0; }
      @media (max-width: 992px) {
        .promo2--about-page .promo2__picture {
          margin-left: auto; } }
      @media (max-width: 768px) {
        .promo2--about-page .promo2__picture {
          max-width: 300px;
          flex-shrink: 1;
          margin-right: -170px; } }
    @media (max-width: 768px) {
      .promo2--about-page .promo2__wrapper {
        align-items: center; } }
    @media (max-width: 425px) {
      .promo2--about-page .promo2__header {
        font-size: 1.8em; } }
    @media (max-width: 768px) {
      .promo2--about-page {
        overflow: hidden;
        padding-top: 80px;
        padding-bottom: 60px; } }
  .promo2--products-page {
    padding-top: 110px;
    padding-bottom: 85px;
    background-image: url("../img/raster/products-banner.png"); }
    @media (max-width: 768px) {
      .promo2--products-page {
        padding-top: 80px;
        padding-bottom: 60px; } }
    .promo2--products-page .promo2__wrapper {
      max-width: 1100px; }
    .promo2--products-page .promo2__text {
      font-size: 1em;
      max-width: 380px;
      margin-top: 10px; }
    @media (max-width: 425px) {
      .promo2--products-page .promo2__header {
        font-size: 1.8em; } }
  .promo2--work-page {
    padding-top: 100px;
    padding-bottom: 95px;
    background-image: url("../img/raster/work-banner.png"); }
    @media (max-width: 768px) {
      .promo2--work-page {
        padding-top: 80px;
        padding-bottom: 60px; } }
    .promo2--work-page .promo2__block {
      max-width: 700px; }
    .promo2--work-page .promo2__header {
      max-width: initial; }
      @media (max-width: 425px) {
        .promo2--work-page .promo2__header {
          font-size: 1.8em; } }
    .promo2--work-page .promo2__text {
      max-width: 460px;
      font-size: 1em; }
    .promo2--work-page .promo2__wrapper {
      max-width: 1110px; }
  .promo2__wrapper {
    max-width: 970px;
    display: flex; }
  .promo2__block {
    max-width: 450px;
    color: #ffffff; }
  .promo2__header {
    max-width: 300px;
    margin-bottom: 15px; }
  .promo2__text {
    max-width: 280px;
    font-size: 0.875em;
    font-family: 'h-r';
    line-height: 23px; }
  .promo2__button {
    margin-top: 25px;
    font-size: 0.875em;
    min-width: 155px;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-bottom: 10px; }
    @media (max-width: 525px) {
      .promo2__button {
        min-width: 130px;
        padding-top: 12px;
        padding-bottom: 9px;
        line-height: 1.5em;
        padding-top: 10px;
        padding-bottom: 8px; } }

.about-picture--city {
  padding-top: 138px;
  padding-bottom: 145px; }

.about-picture--product {
  background-color: #23372D;
  color: #ffffff;
  background-image: url("../img/vector/about-picture-product-decoration.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden; }
  .about-picture--product .about-picture__wrapper {
    max-width: 1200px; }
    @media (max-width: 1200px) {
      .about-picture--product .about-picture__wrapper {
        max-width: 1050px; } }
    @media (max-width: 768px) {
      .about-picture--product .about-picture__wrapper {
        flex-direction: column;
        max-width: 500px;
        margin: 0 auto; } }
  .about-picture--product .about-picture__picture {
    max-width: 720px;
    width: 60%;
    position: relative; }
    .about-picture--product .about-picture__picture::before {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: -60px;
      width: 462px;
      height: 135px;
      background-image: url("../img/vector/about-picture-decoration.svg");
      background-repeat: no-repeat;
      background-position: top left;
      background-size: cover; }
    @media (max-width: 1200px) {
      .about-picture--product .about-picture__picture {
        flex-shrink: 0;
        align-items: center; } }
    @media (max-width: 768px) {
      .about-picture--product .about-picture__picture {
        width: 100%; } }
  .about-picture--product .about-picture__block {
    width: 40%;
    max-width: 300px;
    margin-left: 110px;
    margin-top: 115px; }
    @media (max-width: 1200px) {
      .about-picture--product .about-picture__block {
        margin-left: 0;
        margin-right: 30px; } }
    @media (max-width: 1050px) {
      .about-picture--product .about-picture__block {
        margin-top: 50px; } }
    @media (max-width: 850px) {
      .about-picture--product .about-picture__block {
        margin-top: 0px; } }
    @media (max-width: 768px) {
      .about-picture--product .about-picture__block {
        order: 2;
        width: 100%;
        max-width: initial;
        margin-top: 30px; } }

.about-picture__wrapper {
  max-width: 1050px;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .about-picture__wrapper {
      flex-direction: column;
      max-width: 500px;
      margin: 0 auto; } }

.about-picture__picture {
  width: 50%;
  box-sizing: border-box;
  max-width: 500px;
  border-radius: 8px;
  display: flex;
  filter: drop-shadow(0px 12px 32px rgba(0, 0, 0, 0.25)); }
  @media (max-width: 768px) {
    .about-picture__picture {
      width: 100%; } }

.about-picture__block {
  width: calc(50% - 30px);
  box-sizing: border-box;
  margin-top: 45px; }
  @media (max-width: 768px) {
    .about-picture__block {
      width: 100%;
      margin-top: 30px; } }

.about-picture__header {
  margin-bottom: 0px;
  max-width: 460px;
  line-height: 45px; }

.about-picture__text {
  margin-top: 18px;
  max-width: 460px;
  font-family: 'h-r'; }

.about-picture__button {
  font-size: 0.875em;
  min-width: 160px;
  padding-top: 10px;
  padding-bottom: 11px;
  margin-top: 10px; }
  @media (max-width: 525px) {
    .about-picture__button {
      min-width: 130px;
      padding-top: 12px;
      padding-bottom: 9px;
      line-height: 1.5em;
      padding-top: 10px;
      padding-bottom: 8px; } }

.services__wrapper {
  max-width: 1050px; }
  @media (max-width: 1024px) {
    .services__wrapper {
      max-width: 600px; } }

.services__block {
  display: flex; }
  @media (max-width: 1024px) {
    .services__block {
      flex-wrap: wrap; } }
  @media (max-width: 425px) {
    .services__block {
      margin-bottom: 60px; } }

.services__item {
  width: calc(26.4%);
  box-sizing: border-box;
  border-right: 1px solid #BCBCBC;
  padding-left: 22px;
  padding-right: 38px;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  padding-bottom: 140px; }
  .services__item:nth-child(1) {
    padding-left: 0;
    width: calc(23.6%); }
    @media (max-width: 1024px) {
      .services__item:nth-child(1) {
        padding-bottom: 35px;
        border-bottom: 1px solid #BCBCBC; } }
  @media (max-width: 1024px) {
    .services__item:nth-child(2) {
      border-right: none;
      padding-bottom: 35px;
      border-bottom: 1px solid #BCBCBC; } }
  @media (max-width: 1024px) {
    .services__item:nth-child(3) {
      padding-left: 0; } }
  @media (max-width: 425px) {
    .services__item:nth-child(3) {
      padding-left: 0;
      padding-bottom: 35px; } }
  .services__item:nth-child(4) {
    width: 23.6%;
    padding-right: 10px; }
    @media (max-width: 425px) {
      .services__item:nth-child(4) {
        padding-left: 0;
        padding-bottom: 55px;
        border-bottom: none !important; } }
  .services__item:last-child {
    border-right: none; }
  .services__item-header {
    font-size: 1.25em;
    margin-top: 33px;
    margin-bottom: 0px;
    line-height: 26px; }
  .services__item-text {
    margin-top: 8px;
    font-size: 0.875em;
    font-family: 'h-r';
    line-height: 23px; }
  .services__item-link {
    margin-top: auto;
    font-size: 0.875em;
    line-height: 21px;
    color: #76D576;
    position: relative;
    text-decoration: none;
    transition: 0.2s ease;
    display: inline-block;
    align-self: flex-start;
    padding-right: 20px; }
    .services__item-link:hover {
      color: #23372D;
      opacity: 0.8; }
      .services__item-link:hover::before {
        background-image: url("../img/vector/arrow-right-green-dark.svg");
        opacity: 0.8; }
    .services__item-link:active {
      opacity: 0.6;
      transform: scale(0.98); }
      .services__item-link:active::before {
        transform: scale(1) translateY(-50%); }
    .services__item-link::before {
      display: block;
      content: '';
      position: absolute;
      width: 5px;
      height: 8px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url("../img/vector/arrow-right-green.svg");
      top: 50%;
      right: 10px;
      transform: translateY(-50%); }
  @media (max-width: 1024px) {
    .services__item {
      width: 50% !important;
      min-height: 150px; } }
  @media (max-width: 425px) {
    .services__item {
      width: 100% !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      border: none;
      border-bottom: 1px solid #BCBCBC !important;
      padding-bottom: 20px !important; } }

.cards {
  padding-top: 70px;
  padding-bottom: 80px; }
  .cards__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    flex-wrap: wrap; }
    @media (max-width: 768px) {
      .cards__wrapper {
        max-width: 500px; } }
  .cards__item {
    width: calc(50% - 24px);
    margin-bottom: 70px;
    font-family: 'h-r';
    position: relative;
    box-shadow: 0px 4px 53px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 12px; }
    @media (max-width: 992px) {
      .cards__item {
        width: calc(50% - 10px); } }
    @media (max-width: 768px) {
      .cards__item {
        width: 100%; } }
    @media (max-width: 425px) {
      .cards__item {
        margin-bottom: 40px; } }
    .cards__item-header {
      font-size: 1.625em;
      line-height: 48px;
      margin-top: 0;
      margin-bottom: 0; }
    .cards__item-text {
      margin-top: 5px; }
    .cards__item-button {
      margin-top: auto;
      font-size: 0.875em;
      line-height: 21px;
      color: #76D576;
      position: relative;
      text-decoration: none;
      transition: 0.2s ease;
      display: inline-block;
      align-self: flex-start;
      padding-right: 20px;
      background-color: transparent;
      border: none;
      outline: none;
      padding: 0;
      padding-right: 20px; }
      .cards__item-button:hover {
        color: #23372D;
        opacity: 0.8; }
        .cards__item-button:hover::before {
          background-image: url("../img/vector/arrow-right-green-dark.svg");
          opacity: 0.8; }
      .cards__item-button:active {
        opacity: 0.6;
        transform: scale(0.98); }
        .cards__item-button:active::before {
          transform: scale(1) translateY(-50%); }
      .cards__item-button::before {
        display: block;
        content: '';
        position: absolute;
        width: 5px;
        height: 8px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url("../img/vector/arrow-right-green.svg");
        top: 50%;
        right: 10px;
        transform: translateY(-50%); }
  .cards__block {
    padding: 0; }
  .cards__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 270px;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 20px;
    padding-bottom: 35px; }
    @media (max-width: 425px) {
      .cards__content {
        padding-left: 20px;
        padding-right: 20px;
        min-height: 240px;
        padding-bottom: 30px; } }
  .cards__picture {
    min-height: 200px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%; }
    @media (max-width: 425px) {
      .cards__picture {
        min-height: 150px; } }
  .cards__popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 70px;
    padding-bottom: 40px;
    width: 100%;
    max-width: 360px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 4px 72px rgba(0, 0, 0, 0.4); }
    @media (max-width: 425px) {
      .cards__popup {
        max-width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
        padding-bottom: 20px; } }
    .cards__popup--active {
      display: block;
      animation: .3s ease showCard; }

@keyframes showCard {
  from {
    opacity: 0;
    transform: translate(-50%, -53%); }
  to {
    opacity: 1;
    transform: translate(-50%, -50%); } }
    .cards__popup-header {
      font-family: 'hn-b'; }
    .cards__popup-close {
      width: 24px;
      height: 24px;
      background-color: #23372D;
      position: absolute;
      top: 12px;
      right: 12px;
      font-size: 0;
      border: none;
      outline: none;
      border-radius: 50%;
      transition: 0.2s ease; }
      .cards__popup-close:hover {
        opacity: 0.8; }
      .cards__popup-close:active {
        opacity: 0.6;
        transform: scale(0.98); }
      .cards__popup-close::before {
        display: block;
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #fff;
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .cards__popup-list {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-top: 10px; }
      .cards__popup-list li {
        padding-left: 30px;
        margin-bottom: 10px;
        position: relative; }
        .cards__popup-list li::before {
          display: block;
          content: '';
          position: absolute;
          width: 19px;
          height: 19px;
          background-color: #76D576;
          border-radius: 50%;
          left: 0;
          top: 50%;
          transform: translateY(-48%); }
        .cards__popup-list li::after {
          display: block;
          content: '';
          position: absolute;
          width: 12px;
          height: 10px;
          background-color: #fff;
          left: 3.5px;
          top: 51%;
          transform: translateY(-48%);
          clip-path: polygon(16% 37%, 0 51%, 35% 100%, 100% 19%, 85% 3%, 35% 65%); }
    .cards__popup-button {
      font-size: 14px;
      padding-top: 10px;
      padding-bottom: 11px;
      max-width: 160px;
      display: block;
      margin: 0 auto;
      margin-top: 50px; }
      @media (max-width: 525px) {
        .cards__popup-button {
          min-width: 130px;
          padding-top: 12px;
          padding-bottom: 9px;
          line-height: 1.5em;
          padding-top: 10px;
          padding-bottom: 8px; } }

.assurance {
  padding-bottom: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/raster/work-assurance-banner.png"); }
  .assurance__wrapper {
    max-width: 1110px; }
  .assurance__block {
    box-sizing: border-box;
    max-width: 500px;
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 35px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 58px 1px rgba(0, 0, 0, 0.19);
    position: relative;
    top: 50px; }
    @media (max-width: 425px) {
      .assurance__block {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 20px;
        top: 60px; } }
  .assurance__header {
    margin: 0; }
  .assurance__text {
    font-family: 'h-r';
    margin-top: 10px; }

.care {
  margin-top: 60px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 60px;
  background-repeat: no-repeat;
  background-position: 0% 60%;
  background-image: url("../img/vector/care-decoration.svg"); }
  @media (min-width: 1440px) {
    .care {
      background-position: 20% 60%; } }
  @media (max-width: 1200px) {
    .care {
      background-position: -80px 60%; } }
  @media (max-width: 1024px) {
    .care {
      background-position: 0px 50%;
      background-size: 100%; } }
  @media (max-width: 992px) {
    .care {
      background-position: 0 10%;
      background-size: 120%; } }
  @media (max-width: 552px) {
    .care {
      background-position: 0 0%;
      background-size: 160%;
      margin-top: 100px; } }
  @media (max-width: 375px) {
    .care {
      background-position: 0 0%;
      background-size: 200%; } }
  .care__wrapper {
    max-width: 1100px;
    display: flex;
    justify-content: flex-end; }
  .care__block {
    width: 47%; }
    @media (max-width: 992px) {
      .care__block {
        margin-top: 120px;
        width: 70%; } }
    @media (max-width: 552px) {
      .care__block {
        width: 100%; } }
  .care__header {
    max-width: 400px;
    margin: 0; }
  .care__text {
    max-width: 460px;
    font-family: 'h-r'; }
  .care__button {
    margin-top: 5px; }
    @media (max-width: 768px) {
      .care__button {
        min-width: 130px; } }

.banner-contact {
  background-image: url("../img/vector/banner-green-background.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #23372D;
  padding-top: 105px;
  padding-bottom: 90px; }
  @media (max-width: 768px) {
    .banner-contact {
      background-size: 1000px;
      padding-top: 85px;
      padding-bottom: 70px; } }
  @media (max-width: 425px) {
    .banner-contact {
      padding-top: 70px;
      padding-bottom: 60px; } }
  .banner-contact__wrapper {
    max-width: 1030px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 992px) {
      .banner-contact__wrapper {
        flex-direction: column;
        align-items: flex-start; } }
  .banner-contact__content {
    color: #fff;
    width: 50%; }
    @media (max-width: 992px) {
      .banner-contact__content {
        width: 100%;
        margin-bottom: 30px; } }
  .banner-contact__header {
    margin: 0; }
  .banner-contact__text {
    margin-top: 10px;
    font-family: 'h-r';
    max-width: 460px; }
  .banner-contact__block {
    background-color: #fff;
    width: 50%;
    padding-top: 55px;
    padding: 50px;
    box-shadow: 0px 7px 30px -3px rgba(0, 0, 0, 0.19);
    border-radius: 9px;
    max-width: 515px;
    box-sizing: border-box; }
    @media (max-width: 992px) {
      .banner-contact__block {
        margin-left: auto;
        width: 100%; } }
    @media (max-width: 500px) {
      .banner-contact__block {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 30px; } }
  .banner-contact__preheader {
    font-family: 'hn-b'; }
  .banner-contact__address-wrapper {
    display: flex;
    align-items: center;
    margin-top: 30px; }
    @media (max-width: 425px) {
      .banner-contact__address-wrapper {
        flex-direction: column;
        align-items: flex-start; } }
  .banner-contact__address-item {
    color: inherit;
    text-decoration: none;
    transition: 0.2s ease;
    padding-left: 30px;
    position: relative; }
    .banner-contact__address-item:first-child {
      margin-right: 40px; }
      @media (max-width: 425px) {
        .banner-contact__address-item:first-child {
          margin-bottom: 20px; } }
    .banner-contact__address-item:hover {
      opacity: 0.8; }
    .banner-contact__address-item:active {
      opacity: 0.6;
      transform: scale(0.98); }
    .banner-contact__address-item::before {
      display: block;
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
    .banner-contact__address-item--tel::before {
      background-image: url("../img/vector/call-icon.svg"); }
    .banner-contact__address-item--email::before {
      background-image: url("../img/vector/message-icon.svg"); }

.contact {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/raster/contact-banner.png");
  padding-top: 72px;
  padding-bottom: 50px;
  min-height: calc(100vh - 515px); }
  .contact__wrapper {
    max-width: 985px;
    position: relative;
    left: 30px;
    display: flex;
    align-items: center; }
    @media (max-width: 1200px) {
      .contact__wrapper {
        left: 0; } }
    @media (max-width: 992px) {
      .contact__wrapper {
        max-width: 700px;
        flex-direction: column; } }
  .contact__form {
    width: 45.5%;
    max-width: 440px;
    border-radius: 10px;
    background-color: #fff; }
    @media (max-width: 992px) {
      .contact__form {
        margin-right: auto;
        width: 90%;
        margin-bottom: 40px; } }
    @media (max-width: 768px) {
      .contact__form {
        width: 100%; } }
    @media (max-width: 425px) {
      .contact__form {
        margin-bottom: 20px; } }
  .contact__info {
    width: 55.5%;
    max-width: 545px;
    background-color: #23372D;
    color: #fff;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 45px;
    padding-bottom: 30px;
    box-sizing: border-box;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
    @media (max-width: 992px) {
      .contact__info {
        margin-left: auto;
        border-radius: 10px;
        width: 90%; } }
    @media (max-width: 768px) {
      .contact__info {
        width: 100%; } }
    @media (max-width: 425px) {
      .contact__info {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 30px; } }
    .contact__info-header {
      margin: 0;
      font-size: 56px;
      line-height: 68px; }
      @media (max-width: 768px) {
        .contact__info-header {
          font-size: 49px;
          line-height: 60px; } }
      @media (max-width: 425px) {
        .contact__info-header {
          font-size: 35px;
          line-height: 40px; } }
    .contact__info-text {
      font-family: 'h-r';
      font-size: 13px;
      line-height: 21px;
      margin-top: 10px;
      margin-left: 5px;
      max-width: 400px;
      border-bottom: 1px solid #fff;
      padding-bottom: 14px; }
    .contact__info-wrapper {
      display: flex;
      margin-left: 5px;
      padding-top: 5px; }
    .contact__info-address {
      font-size: 13px;
      line-height: 21px;
      font-family: 'h-r';
      width: calc(49% - 20px);
      margin-right: 20px; }
      .contact__info-address b {
        font-family: 'hn-b'; }
      .contact__info-address p {
        margin: 0;
        font-size: 13px;
        line-height: 21px;
        font-family: 'h-r'; }
      @media (max-width: 425px) {
        .contact__info-address {
          margin-right: 10px;
          width: 51%; } }
    .contact__info-data {
      font-size: 13px;
      line-height: 21px;
      font-family: 'h-r';
      width: 45%; }
      .contact__info-data-item {
        display: block;
        color: inherit;
        text-decoration: none;
        transition: 0.2s ease; }
        .contact__info-data-item:hover {
          opacity: 0.8; }
        .contact__info-data-item:active {
          opacity: 0.6;
          transform: scale(0.98); }

.form {
  position: relative; }
  .form__block {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 35px;
    padding-bottom: 30px; }
    @media (max-width: 425px) {
      .form__block {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 25px;
        padding-bottom: 25px; } }
  .form__label {
    font-size: 14px;
    margin-bottom: 8px; }
  .form__input {
    border: none;
    background-color: #fff;
    background: #F4F4F4;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px; }
  .form__textarea {
    border: none;
    background-color: #fff;
    background: #F4F4F4;
    border-radius: 4px;
    padding: 10px;
    min-height: 70px;
    resize: none; }
  .form__button {
    margin: 0 auto;
    margin-top: 35px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 11px;
    min-width: 160px;
    outline: none; }
  .form__success {
    text-align: center;
    font-size: 13px;
    line-height: 21px;
    font-family: 'h-r';
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 72px rgba(0, 0, 0, 0.4);
    max-width: 240px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; }
    .form__success p {
      margin: 0; }
    .form__success.active {
      display: block;
      animation: .3s ease showMessage; }

@keyframes showMessage {
  from {
    opacity: 0;
    transform: translate(-50%, -53%); }
  to {
    opacity: 1;
    transform: translate(-50%, -50%); } }

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1110px; }

.nav__logo {
  align-self: center;
  margin-left: 10px;
  max-width: 116px; }
  .nav__logo img {
    width: 100%; }

.nav__menu {
  display: flex;
  list-style: none;
  font-family: "hn-r";
  font-size: 14px;
  padding: 0;
  margin: 0;
  align-items: center; }
  .nav__menu a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding-top: 30px;
    padding: 30px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 17px;
    transition: 0.2s ease;
    margin-right: 5px; }
    .nav__menu a:hover {
      opacity: 0.6; }
    .nav__menu a:active {
      opacity: 0.5;
      transform: scale(0.95); }
  .nav__menu .button {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0;
    margin-left: 25px; }
    @media (max-width: 525px) {
      .nav__menu .button {
        padding-bottom: 8px; } }

.nav__item--active {
  font-family: "hn-b";
  position: relative; }
  .nav__item--active::before {
    display: block;
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% - 30px - 5px);
    background-color: #76D576;
    top: 50%;
    left: calc(50% - 2px);
    transform: translate(-50%, 10px); }

.nav__burger {
  font-size: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: relative;
  display: none;
  z-index: 20;
  transition: 0.2s ease; }
  .nav__burger::before, .nav__burger::after {
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #23372D;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 0 0 #23372D, 0 16px 0 0 #23372D;
    transition: 0.2s ease; }

.nav__burger--close {
  font-size: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: relative;
  transition: 0.2s ease; }
  .nav__burger--close::before, .nav__burger--close::after {
    display: block;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #23372D;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    box-shadow: none;
    transition: 0.2s ease; }
  .nav__burger--close::after {
    transform: translate(-50%, -50%) rotate(-45deg); }

@media (max-width: 1024px) {
  .nav__wrapper {
    padding-left: 0; }
  .nav__item a {
    padding-left: 15px;
    padding-right: 15px; }
  .nav__buy {
    margin-left: 0; }
  .nav__logo {
    padding-left: 20px; } }

@media (max-width: 768px) {
  .nav__wrapper {
    position: relative;
    padding-right: 0; }
    .nav__wrapper--open {
      background-color: white; }
  .nav__menu {
    display: none; }
    .nav__menu .button {
      display: inline-block;
      margin-left: 0;
      max-width: 160px;
      margin-left: 30px;
      margin: 0 auto;
      margin-top: 20px; }
  .nav__burger {
    display: block;
    margin-right: 29px; }
  .nav__logo {
    max-width: 90px; }
  .nav__menu--open {
    display: block;
    width: 100%;
    position: absolute;
    top: 75px;
    left: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
    z-index: 10;
    box-shadow: 0px 15px 12px rgba(0, 0, 0, 0.3);
    animation: 0.3s menuOpen ease; }
    .nav__menu--open .nav__item a {
      display: block;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 30px;
      padding-right: 30px; }
      .nav__menu--open .nav__item a:active {
        transform: scale(0.98); }
    .nav__menu--open .nav__item--active::before {
      display: none; }
    .nav__menu--open .nav__buy {
      max-width: 150px;
      margin: 0 auto;
      margin-top: 40px;
      text-align: center; }
      .nav__menu--open .nav__buy a {
        padding-top: 16px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px; }
  @keyframes menuOpen {
    from {
      transform: translateY(-50px);
      opacity: 0; }
    30% {
      opacity: 0;
      transform: translateY(-40px); }
    to {
      transform: translateY(0px);
      opacity: 1; } } }

@media (max-width: 425px) {
  .nav__burger {
    margin-right: 20px; }
  .nav__menu--open .nav__item a {
    padding-left: 20px;
    padding-right: 20px; }
  .nav__logo {
    margin-left: 0; } }

.footer {
  padding-top: 65px;
  padding-bottom: 30px;
  font-family: "hn-r"; }
  @media (max-width: 768px) {
    .footer {
      padding-bottom: 20px;
      padding-top: 40px; } }
  .footer__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1140px;
    transform: translateX(-20px); }
    @media (max-width: 1300px) {
      .footer__wrapper {
        transform: translateX(0); } }
  .footer__block {
    display: flex;
    width: 100%; }
    @media (max-width: 768px) {
      .footer__block {
        flex-direction: column;
        max-width: 500px;
        margin: 0 auto;
        align-items: center; } }
  .footer__logo {
    display: flex;
    flex-wrap: wrap;
    max-width: 195px; }
    .footer__logo-item {
      width: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .footer__logo-item:nth-child(1) {
        width: 100%;
        max-width: 116px;
        margin: 0 auto;
        margin-bottom: 25px; }
    @media (max-width: 768px) {
      .footer__logo {
        margin-bottom: 20px; } }
  .footer__links {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    width: 50%;
    margin-left: auto; }
    @media (max-width: 1100px) {
      .footer__links {
        max-width: 350px; } }
    @media (max-width: 992px) {
      .footer__links {
        max-width: 300px; } }
    @media (max-width: 850px) {
      .footer__links {
        max-width: 250px; } }
    @media (max-width: 768px) {
      .footer__links {
        margin-left: 0;
        max-width: 400px;
        width: 100%; } }
    @media (max-width: 768px) {
      .footer__links-block {
        width: 50%; } }
    .footer__links-header {
      font-family: "hn-b";
      color: #23372D;
      font-size: 13px;
      display: block;
      margin-bottom: 17px;
      margin-top: 3px; }
    .footer__links-list {
      padding: 0;
      margin: 0;
      list-style: none; }
    .footer__links-item a {
      color: #676767;
      text-decoration: none;
      font-size: 14px;
      margin-bottom: 6px;
      display: inline-block;
      transition: 0.2s ease; }
      .footer__links-item a:hover {
        opacity: 0.8; }
      .footer__links-item a:active {
        opacity: 0.6;
        transform: scale(0.95); }
  .footer__subscribe {
    max-width: 250px;
    margin-left: auto; }
    @media (max-width: 768px) {
      .footer__subscribe {
        margin-left: 0;
        max-width: 400px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px; } }
    .footer__subscribe-form {
      padding: 4px;
      border: 1px solid #E2E2E2;
      border-radius: 8px;
      display: flex;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px; }
    .footer__subscribe-input {
      box-sizing: border-box;
      border: none;
      outline: none;
      background: none;
      padding-left: 13px;
      padding-right: 13px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 14px;
      width: calc(100% - 115px); }
      .footer__subscribe-input::placeholder {
        color: #ABABAB; }
      @media (max-width: 525px) {
        .footer__subscribe-input {
          padding-bottom: 8px; } }
    .footer__subscribe-submit {
      border-radius: 100px;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: #436052;
      color: #ffffff;
      font-family: 'hn-b';
      font-size: 14px;
      text-align: center;
      min-width: 115px;
      transition: 0.2s ease; }
      .footer__subscribe-submit:hover {
        opacity: 0.8; }
      .footer__subscribe-submit:active {
        opacity: 0.6;
        transform: scale(0.96); }
      @media (max-width: 525px) {
        .footer__subscribe-submit {
          padding-top: 12px;
          padding-bottom: 9px;
          line-height: 1.5em;
          padding-top: 10px;
          padding-bottom: 8px; } }
  .footer__copy {
    margin-top: -5px; }
    .footer__copy-text {
      font-size: 14px;
      color: #BABABA; }
    @media (max-width: 768px) {
      .footer__copy {
        margin-top: 15px; } }
