.footer {
    padding-top: 65px;
    padding-bottom: 30px;
    font-family: "hn-r";

    @media (max-width:768px) {
        padding-bottom: 20px;
        padding-top: 40px;
    }

    &__wrapper {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        max-width: 1140px;
        transform: translateX(-20px);

        @media (max-width:1300px) {
            transform: translateX(0);
        }

        
    }

    &__block{
        display: flex;
        width: 100%;

        @media (max-width:768px) {
            flex-direction: column;
            max-width: 500px;
            margin: 0 auto;
            align-items: center;
        }
    }

    &__logo{
        display: flex;
        flex-wrap: wrap;
        max-width: 195px;

        &-item{
            width: 50%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &:nth-child(1){
                width: 100%;
                margin-bottom: 25px;
            }
        }

        @media (max-width:768px) {
            margin-bottom: 20px;
         }
    }

    &__links{
        display: flex;
        justify-content: space-between;
        max-width: 400px;
        width: 50%;
        margin-left: auto;

        @media (max-width:1100px) {
            max-width: 350px;
        }

        @media (max-width:992px) {
            max-width: 300px;
        }

        @media (max-width:850px) {
            max-width: 250px;
        }

        @media (max-width:768px) {
            margin-left: 0;
            max-width: 400px;
            width: 100%;
        }
        
        &-block{
            @media (max-width:768px) {
                width: 50%;
            }
        }

        &-header{
            font-family: "hn-b";
            color: $tx-primary;
            font-size: 13px;
            display: block;
            margin-bottom: 17px;
            margin-top: 3px;
        }

        &-list{
            padding: 0;
            margin: 0;
            list-style: none;
        }

        &-item{
            a{
                color: #676767;
                text-decoration: none;
                font-size: 14px;
                margin-bottom: 6px;
                display: inline-block;
                transition: $anim;

                &:hover{
                    opacity: 0.8;
                }

                &:active{
                    opacity: 0.6;
                    transform: scale(0.95);
                }
            }
        }
    }

    &__subscribe{
        max-width: 250px;
        margin-left: auto;

        @media (max-width:768px) {
            margin-left: 0;
            max-width: 400px;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 10px;
         }

        &-form{
            padding: 4px;
            border: 1px solid #E2E2E2;
            border-radius: 8px;
            display: flex;
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
        }

        &-input{
            box-sizing: border-box;
            border: none;
            outline: none;
            background: none;
            padding-left: 13px;
            padding-right: 13px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 14px;
            width: calc(100% - 115px);

            &::placeholder{
                color: #ABABAB;
            }

            @media (max-width:525px) {
                padding-bottom: 8px;
            }
        }

        &-submit{
            border-radius: 100px;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: #436052;
            color: $br-white;
            font-family: 'hn-b';
            font-size: 14px;
            text-align: center;
            min-width: 115px;
            transition: $anim;

            &:hover{
                opacity: 0.8;
            }

            &:active{
                opacity: 0.6;
                transform: scale(0.96);
            }

            @media (max-width:525px) {
                padding-top: 12px;
                padding-bottom: 9px;
    
                line-height: 1.5em;
                padding-top: 10px;
                padding-bottom: 8px;
            }
        }
    }

    &__copy {
        margin-top: -5px;

        &-text{
            font-size: 14px;
            color: #BABABA;
        }

        @media (max-width:768px) {
            margin-top: 15px;
        }
    }

}


