@font-face {
    font-family: "h-md";
    src: url("../fonts/Helvetica-Medium.woff2") format("woff2"),
        url("../fonts/Helvetica-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "h-r";
    src: url("../fonts/Helvetica-Regular.woff2") format("woff2"),
        url("../fonts/Helvetica-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "hn-r";
    src: url("../fonts/HelveticaNeue-Roman.woff2") format("woff2"),
        url("../fonts/HelveticaNeue-Roman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "hn-md";
    src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"),
        url("../fonts/HelveticaNeue-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "hn-b";
    src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"),
        url("../fonts/HelveticaNeue-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


