
$tx-black: #000000;
$tx-d-grey: #282828;
$tx-primary: #23372D;

$br-primary: #23372D;

$br-white: #ffffff;
$br-black: #000000;
$br-l-green: #F2FFF2;
$br-green: #436052;
$br-uran-green: #76D576;

// animation by hover

$anim: 0.2s ease;
