<footer class="footer">
    <div class="footer__wrapper">  
        <div class="footer__block">
            <div class="footer__logo">
                <div class="footer__logo-item"><a href="index.html"><img src="img/raster/logo.png" alt="logo"></a></div>
                <div class="footer__logo-item"><a href="#" target="_blank"><img src="img/raster/partner-1.png" alt="logo"></a></div>
                <div class="footer__logo-item"><a href="#" target="_blank"><img src="img/raster/partner-2.png" alt="logo"></a></div>
            </div>
            <div class="footer__links">
                <div class="footer__links-block">
                    <span class="footer__links-header">Sitemap</span>
                    <ul class="footer__links-list">
                        <li class="footer__links-item"><a href="products.html">Products</a></li>
                        <li class="footer__links-item"><a href="work.html">Services</a></li>
                        <li class="footer__links-item"><a href="about.html">About Us</a></li>
                        <li class="footer__links-item"><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="footer__links-block">
                    <span class="footer__links-header">Contact</span>
                    <ul class="footer__links-list">
                        <li class="footer__links-item"><a href="tel:+31103216053">+31 10 32 16 053</a></li>
                        <li class="footer__links-item"><a href="mailto:info@gramena.com">info@gramena.com</a></li>
                        <li class="footer__links-item"><a href="index.html">gramena.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__subscribe">
                <span class="footer__links-header">Subscribe to our newsletter</span>
                <form action="" class="footer__subscribe-form">
                    <input type="text" name="email" class="footer__subscribe-input" placeholder="Email Address">
                    <button type="submit" class="footer__subscribe-submit">Submit</button>
                </form>
            </div>
        </div>

        <div class="footer__copy">
            <span class="footer__copy-text">Gramena | 2020 All rights reserved</span>
        </div>
    </div>
</footer>

