<nav class="nav">
    <div class="nav__wrapper wrapper blur-shadow-bottom">
        <a href="index.html" class="nav__logo">
            <img src="img/raster/logo.png" alt="logo">
        </a>

        <ul class="main-menu nav__menu">
            <li class="menu-item nav__item"><a href="products.html">Products</a></li>
            <li class="menu-item nav__item"><a href="work.html">What we do</a></li>
            <li class="menu-item nav__item"><a href="about.html">About Us</a></li>
            <li class="menu-item nav__item"><a href="contact.html" class="button">Contact us</a></li>
        </ul>
        <button class="nav__burger">Menu</button>
    </div>
</nav>